.jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}

.header {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    height: 50px;
}

.page-content {
    /* margin-top: 70px; */
    margin-bottom: 70px;
}

.footer {
    height: 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}


.center-div {
    margin: 0 auto;
    width: 80%
}
