<component name="libraryTable">
  <library name="Spring MVC-4.1.6.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/shared/lib/spring-webmvc-portlet-4.1.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/shared/lib/spring-websocket-4.1.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/shared/lib/spring-web-4.1.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/shared/lib/spring-webmvc-4.1.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>